#  _   _           _
# | \ | | ___   __| | ___
# |  \| |/ _ \ / _` |/ _ \
# | |\  | (_) | (_| |  __/
# |_| \_|\___/ \__,_|\___|
/node_modules/

#     _          _
#    / \   _ __ | |_ ___  _ __ __ _
#   / _ \ | '_ \| __/ _ \| '__/ _` |
#  / ___ \| | | | || (_) | | | (_| |
# /_/   \_\_| |_|\__\___/|_|  \__,_|
/build/

#  ___ ____  _____
# |_ _|  _ \| ____|___
#  | || | | |  _| / __|
#  | || |_| | |___\__ \
# |___|____/|_____|___/
## IntelliJ
.idea/
*.iml

## VisualStudio Code
.vscode/
